/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
    font-size: 100%;
}

.flex{
    display: flex;
}

img{
    max-width: 100%;
}


/* HEADER */

.header-container{
    background-color: orangered;
    height: 70px;    
}

.wrapper-header{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    border: 1px solid black;
    height: 70px;
}

.list{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}
.logo{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}

.icons{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}


/* MAIN */

.main-wrapper{
    width: 70%;
    margin: 30px auto;
    /* DEBUG */
    border: 1px solid black;

}

.row{
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


.col{
    position: relative;
    width: calc(100% / 3 - 10px);

    /* DEBUG */
    border: 2px solid green;
    height: 500px;
    background-color: grey;
}

.product-info{
    position: absolute;
    left: 0;
    bottom: 15px;
    color: white;
    gap: 5px;
}

.discount{
    background-color: red;
    padding: 5px;
}

.sostenability{
    background-color: green;
    padding: 5px;
}

.heart{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    font-size: 2rem;
    padding: 0 10px;
}



/* FOOTER */
footer{
    background-color: black;
    height: 100px;
}

.footer-container{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
}

.left-footer{
    /* DEBUG */
    border: 1px solid green;
    width: 20%;
}

.right-footer{
    /* DEBUG */
    border: 1px solid green;
    width: 20%;

}