/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: sans-serif;
    font-size: 100%;
}

.flex{
    display: flex;
}



/* HEADER */

.header-container{
    background-color: orangered;
    height: 70px;    
}

.wrapper-header{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    /* DEBUG */
    border: 1px solid black;
    height: 70px;
}

.list{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}
.logo{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}

.icons{
    /* DEBUG */
    border: 1px solid black;
    height: 35px;
}


/* MAIN */




/* FOOTER */
